[build]
  functions = "netlify/functions"

# USERS
[[redirects]]
  from = "/users/v1/*"
  to = "/.netlify/functions/proxy?url=https://users.roblox.com/v1/:splat"
  status = 200

# GAMES
[[redirects]]
  from = "/games/v1/*"
  to = "/.netlify/functions/proxy?url=https://games.roblox.com/v1/:splat"
  status = 200

# CATALOG
[[redirects]]
  from = "/catalog/v1/*"
  to = "/.netlify/functions/proxy?url=https://catalog.roblox.com/v1/:splat"
  status = 200

# THUMBNAILS
[[redirects]]
  from = "/thumbnails/v1/*"
  to = "/.netlify/functions/proxy?url=https://thumbnails.roblox.com/v1/:splat"
  status = 200

# ECONOMY
[[redirects]]
  from = "/economy/v1/*"
  to = "/.netlify/functions/proxy?url=https://economy.roblox.com/v1/:splat"
  status = 200
