[build]
  functions = "netlify/functions"

############################################
# USERS API
############################################
[[redirects]]
  from = "/users/v1/*"
  to = "/.netlify/functions/proxy"
  status = 200

############################################
# GAMES API
############################################
[[redirects]]
  from = "/games/v1/*"
  to = "/.netlify/functions/proxy"
  status = 200

############################################
# CATALOG API
############################################
[[redirects]]
  from = "/catalog/v1/*"
  to = "/.netlify/functions/proxy"
  status = 200

############################################
# THUMBNAILS API
############################################
[[redirects]]
  from = "/thumbnails/v1/*"
  to = "/.netlify/functions/proxy"
  status = 200

############################################
# ECONOMY API
############################################
[[redirects]]
  from = "/economy/v1/*"
  to = "/.netlify/functions/proxy"
  status = 200
